.graph-links {


}

.graph-links a {
	display: block;
	padding: .5rem 0;
	font-size: 1rem;
	background-color: #000000;
	color: #FFFFFF;
}

.change-form {
	display: inline-flex;
}

.change-form-button {
	margin: 0 0 0 3rem;
	padding: 0 1rem;
}

.back-button {
	margin-right: 3rem;
}
