.graph-link {
    display: inline-block;
    margin: 0.5rem;
    padding: 1rem 1.5rem;
    vertical-align: top;
    width: 20%;
}

.graph-link a {
	color: #000000;
	font-size: 1rem;
	text-align: right;
	text-decoration: underline;
}

.change-form-container {
	margin-bottom: 3rem;
}

.change-form {
	display: inline-flex;
	padding: 0;
}

.change-form-button {
	margin: 0 0 0 3rem;
	padding: 0 1rem;
}

.change-database {
	display: block;
	margin: 0 5rem 0 4rem;
}

.change-database-button {
	margin: 0 0 1.5rem 0;
	padding: 0;
}

.back-button {
	margin-right: 3rem;
}

.start-over {
	background-color: #000000;
	margin: 3rem 0;
	padding: .5rem 1rem;
	width: auto;
}

.start-over a {
	color: #FFFFFF;
	font-size: 1rem;
	text-decoration: none;
	vertical-align: -webkit-baseline-middle;
}

@media screen and (max-width: 800px) {

	.graph-link {
	    margin: 0.25rem;
	    width: 30%
	}

	.graph-link a {
		font-size: .75rem;
		text-align: right;
	}

	.start-over {
		margin: 3rem 0;
	}

}

@media screen and (max-width: 450px) {

	.graph-link {
			display: block;
	    margin: auto;
	    width: 80%
	}

	.start-over {
		margin: 3rem auto;
	}

}