form {
  display: inline-block;
  text-align: left;
  max-width: 40rem;
}

form p,input, select, button  {
  font-family: Avenir Next;
  font-size: 1.25rem;
  font-weight: 300;
}

form, p {
  display: inline-block;
  padding-right: 1rem;
}

input, select  {
  background-color: #FFFFFF;
  border: none;
  border-bottom: 1px solid #000000;
  max-width: 25rem;
}

input::placeholder {
  color: #000000;
}

button {
  background: linear-gradient(270deg, #00f1ff, #e700ff, #0081ff, #ff0063);
  background-size: 200% auto;
  color: #FFFFFF;
  margin-top: 1.5rem;
  width: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

button:disabled {
  opacity: .2
}

.loading-text {
  margin: 0;
}

.explanation-button {
  text-align: center;
}


