h1, h2, h3, a, li {
  font-family: Avenir Next;
  font-weight: 100;
}

h1 {
  font-size: 2em;
}

h3 {
	margin: .5rem;
}

a {
  color: #000000;
  font-size: 1.25em;
  font-weight: 300;
  text-decoration: none;
}

.statistics-container {
	margin: auto;
	width: 80%;
}

.legend {
	border: 1px solid #000000;
	margin: auto;
	width: 80%;
}

.legend-list-ul {
	list-style-type: none;
	margin: .25rem;
	text-align: left;
}

.legend-list-li {
	display: inline;
	margin: 0 .5rem;
}

.legend-item {
	border-bottom: none;
	margin: 0 .25rem;
}

.legend-key {
	border-bottom: none;
	margin-left: .25rem;
}

@media screen and (max-width: 800px) {

	.statistics-container {
		width: 100%;

	}

}